* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 2rem 9%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}
.logo {
  font-weight: 600;
  color: var(--text-color);
  font-size: 2.5rem;
}
.navbar a {
  font-weight: 500;
  font-size: 1.7rem;
  margin-left: 1.5rem;
  color: var(--text-color);
  transition: 0.3s;
}
.navbar a:hover,
a.active {
  color: var(--main-color);
}
#box-menu {
  display: none;
  font-size: 2.7rem;
  color: var(--text-color);
}

section {
  min-height: 100vh;
  background-color: transparent;
  padding: 10rem 9% 2rem;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .left-side h1 {
  font-size: 6.5rem;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: var(--text-color);
}
.section .left-side .experinace-title h2 {
  font-size: 3.2rem;
  line-height: 3.2rem;
  margin: 20px 0px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
}
.section .left-side p {
  font-size: 1.6rem;
  width: 70%;
  margin: 2rem 0rem 4rem;
}

.section .left-side .buttons {
  display: flex;
  justify-content: space-between;
  width: 32rem;
}
.section .left-side .buttons a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  background-color: var(--main-color);
  padding: 10px 10px;
  text-align: center;
  font-size: 1.7rem;
  color: var(--text-color);
  border-radius: 0.8rem;
  border: 0.2rem solid var(--main-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}
.section .left-side .buttons a:nth-child(2) {
  background-color: transparent;
  color: var(--main-color);
}
.section .left-side .buttons a:nth-child(2)::before {
  background-color: var(--main-color);
}
.section .left-side .buttons a:nth-child(2):hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}
.section .left-side .buttons a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);
  transition: 0.5s;
  z-index: -1;
}
.section .left-side .buttons a:hover::before {
  width: 100%;
}
.social-media {
  width: 32rem;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.social-media button {
  background: transparent;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  perspective: 30rem;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

.social-media button::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(
    320deg,
    rgba(0, 140, 255, 0.678),
    rgba(128, 0, 128, 0.308)
  );
  z-index: 1;
  transition: background 3s;
}

.social-media button:hover::before {
  animation: rotate 1s;
  transition: all 0.5s;
}

@keyframes rotate {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
/* .social-media a {
  font-size: 25px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  color: var(--text-color);
  padding: 3px;
  transition: .5s;
}
.social-media a:hover{
    color: var(--main-color);
} */
.right-side {
  width: 100%;
}
.right-side img {
  width: 90%;
  height: 100%;
  clip-path: polygon(
    50px 0%,
    100% 0,
    100% calc(100% - 50px),
    calc(100% - 50px) 100%,
    0 100%,
    0% 50px
  );
  transition: 0.5s;
  cursor: pointer;
}
.right-side img:hover {
  opacity: 0.4;
}
/* about-me */

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  gap: 4rem;
  margin-top: 4rem;
  background-color: var(--second-bg-color);
}
.about-me .title {
  font-size: 6rem;
  font-weight: 600;
}
.about-me .title span {
  color: var(--main-color);
}
.img-box {
  /*  width: 30rem;
  height: 30rem; */
  /* border-radius: 50%; */
  /*  clip-path: polygon(100% 20%, 100% 81%, 100% 100%, 0 100%, 0 20%, 50% 0); */
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.img-box img {
  width: 30%;
  /* height: 95%; */
  /* border-radius: 50%; */
  /* clip-path: polygon(100% 20%, 100% 80%, 100% 100%, 0 100%, 0 20%, 50% 0); */
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
  border-bottom: 0.3rem solid var(--main-color);
  border-left: 0.3rem solid var(--text-color);
  border-right: 0.3rem solid var(--text-color);
  padding: 0px 4px 4px 4px;
}
/* .img-box .circle-span{
  height: 40%;
  width: 40%;
  border: 4px solid red;
  position: absolute;
  top: 0;
  left: 0;
  
} */
.info h3 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 20px;
  color: var(--main-color);
  text-shadow: 4px 2px 2px white;
}
.info p {
  font-size: 2rem;
  margin: 0 20rem;
  text-align: justify;
}
.read-more-box button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: 16px;
  font-family: inherit;
}

.read-more-box .learn-more {
  width: 16rem;
  height: auto;
  margin-bottom: 30px;
}

.read-more-box .learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--main-color);
  border-radius: 1.625rem;
}

.read-more-box .learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.read-more-box .learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.read-more-box .learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.read-more-box .learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 30px;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 2 2 1.85rem;
  color: var(--main-color);
  font-weight: 700;
  /* line-height: 1.6; */
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
}

.read-more-box button:hover .circle {
  width: 100%;
}

.read-more-box button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.read-more-box button:hover .button-text {
  color: #fff;
}

/* education  */
.my-education {
  min-height: 100vh;
  background-color: transparent;
  padding: 5rem 9%;
}
.my-education .my-journey {
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 30px;
}
.my-education .my-journey span {
  color: var(--main-color);
}
.contianer {
  display: flex;
  flex-direction: row;
  margin-top: 6rem;
  gap: 5rem;
}
.contianer .left-side {
  width: 100%;
}
.contianer .right-side {
  width: 100%;
}
.contianer .left-side h4 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.contianer .left-side .boxes,
.right-side .boxes {
  border-left: 3px solid var(--main-color);
  padding-left: 2rem;
  position: relative;
}
/* .contianer .left-side .boxes::before,
.right-side .boxes::before{
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  left: 0;
  top: 0;
  background-color: var(--second-bg-color);
} */
.contianer .left-side .boxes .content,
.right-side .boxes .content {
  border: 1px solid var(--main-color);
  padding: 2rem;
  margin: 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
}
.contianer .left-side .boxes .content::before,
.right-side .boxes .content::before {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  left: -44px;
  border-radius: 50%;
  top: 0;
  background-color: var(--main-color);
}
.contianer .left-side .boxes .content::after,
.right-side .boxes .content::after {
  position: absolute;
  width: 0%;
  height: 100%;
  content: "";
  left: 0;
  top: 0;
  background-color: var(--second-bg-color);
  z-index: -1;
  transition: 0.4s;
}
.contianer .left-side .boxes .content:hover::after,
.right-side .boxes .content:hover::after {
  width: 100%;
}
.contianer .left-side .boxes .content .icon-year span,
.right-side .boxes .content .icon-year span {
  padding-left: 3px;
}
.contianer .left-side .boxes .content .icon-year span,
.right-side .boxes .content .icon-year span {
  font-size: 1.2rem;
  color: var(--main-color);
}
.contianer .left-side .boxes .content h5,
.right-side .boxes .content h5 {
  font-size: 1.5rem;
  margin: 5px 0px;
  font-weight: 600;
}
.contianer .left-side .boxes .content p,
.right-side .boxes .content p {
  font-size: 1.5rem;
}
.contianer .right-side h4 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

/* skills */

.skills {
  margin: auto;
  width: 50%;
  height: 380px;
  overflow: hidden;
  background-color: var(--second-bg-color);
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 30px 0px;
  transition: 0.4s;
  cursor: pointer;
  border-bottom: 4px solid rgba(255, 255, 255, 0.44);
  border-left: 3px rgba(255, 255, 255, 0.545) outset;
  box-shadow: -20px 20px 10px var(--second-bg-color);
  border-radius: 8px;
  backdrop-filter: blur(5px);
  transform: skewX(15deg);
}
.skills:hover {
  height: fit-content;
  transform: skew(0deg);
}
.skills .dots {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: flex-start;
}
.skills .dots .red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff605c;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
}
.skills .dots .yellow {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffbd44;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
}
.skills .dots .green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ca4e;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
}
.skills .title-skill {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
}
.skills .title-skill span {
  color: var(--main-color);
}
.skills-row {
  position: relative;
}
/* .skills-row .skills-column::before{
position: absolute;
top: 0;
left: 0;
background-color: var(--bg-color);
content: "";
width: 0;
height: 100%;
z-index: -1;
overflow: hidden;
transition: 0.5s;
}
.skills-row .skills-column:hover::before{
  width: 100%;
  } */
.skills-row .skills-column h3 {
  font-size: 2.5rem;
  padding-left: 2rem;
}
.skills-column .progress {
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.progress .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.progress .content h4 {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}
.content .bar-progress {
  width: 100%;
  display: block;
  height: 2rem;
  border-radius: 0.4rem;
  padding: 3px;
  border: 0.2rem solid var(--main-color);
}
.bar-progress .bar {
  display: block;
  /* width: 100%; */
  border-radius: 0.6rem;
  height: 100%;
  background-color: var(--main-color);
}
/* .progress .content:nth-child(2) .bar-progress:nth-child(1) .bar{
  width: 50%;
  background-color: red;
} */
/* .progress .content:nth-child(3) {
  background-color: red;
} */

.skills-row
  .skills-column:nth-child(1)
  .progress
  .content:nth-child(1)
  .bar-progress
  .bar {
  width: 85%;
}
.skills-row
  .skills-column:nth-child(1)
  .progress
  .content:nth-child(2)
  .bar-progress
  .bar {
  width: 70%;
}
.skills-row
  .skills-column:nth-child(1)
  .progress
  .content:nth-child(3)
  .bar-progress
  .bar {
  width: 65%;
}
.skills-row
  .skills-column:nth-child(1)
  .progress
  .content:nth-child(4)
  .bar-progress
  .bar {
  width: 75%;
}
.skills-row
  .skills-column:nth-child(2)
  .progress
  .content:nth-child(1)
  .bar-progress
  .bar {
  width: 95%;
}
.skills-row
  .skills-column:nth-child(2)
  .progress
  .content:nth-child(2)
  .bar-progress
  .bar {
  width: 65%;
}
.skills-row
  .skills-column:nth-child(2)
  .progress
  .content:nth-child(3)
  .bar-progress
  .bar {
  width: 75%;
}
.skills-row
  .skills-column:nth-child(2)
  .progress
  .content:nth-child(4)
  .bar-progress
  .bar {
  width: 55%;
}

/* contact */
.contact {
  width: 35%;
  margin: 10rem auto;
  background: linear-gradient(#112e42, #081b29) padding-box,
    linear-gradient(145deg, transparent 35%, #ededed, #00abf0) border-box;
  border: 3px solid transparent;
  border-radius: 10px;
}

/* --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0; */
.contact .form h2 {
  font-size: 5rem;
  text-align: center;
  font-weight: 600;
  color: var(--text-color);
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 40px;
}
.contact .form h2 span {
  color: var(--main-color);
}
.contact .form .contact-title::before,
.contact-title::after {
  position: absolute;
  left: 0;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--main-color);
}
.contact .form .contact-title::before {
  width: 20px;
  height: 20px;
  background-color: var(--text-color);
}
.contact .form .contact-title::after {
  width: 20px;
  height: 20px;
  animation: pulse 1s linear infinite;
}
.contact .form {
  width: 100%;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  padding: 20px;
}
.contact .form .flex {
  width: 100%;
  display: flex;
  gap: 6px;
}
.form label {
  position: relative;
  width: 100%;
  display: inline-block;
}
.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}
.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: gray;
  font-size: 1.2rem;
  cursor: text;
  transition: 0.3s ease;
}
.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9rem;
}
.form label .input:focus + span,
.form .input:valid + span {
  top: 30px;
  font-size: 1rem;
  font-weight: 600;
}
.form label .input:valid + span {
  color: green;
}

.form label .textarea {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}
.form label .textarea + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: gray;
  font-size: 1.2rem;
  cursor: text;
  transition: 0.3s ease;
}
.form label .textarea:placeholder-shown + span {
  bottom: 10px;
  left: 40px;
  font-size: 0.9rem;
}
.form label .textarea:focus + span,
.form label .textarea:valid + span {
  bottom: 10px;
  font-size: 1rem;
  font-weight: 600;
}
.form label .textarea:valid + span {
  color: green;
}



/* animation in form */
@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}


.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: var(--main-color);
  background-image: none;
  color: var(--second-bg-color);
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 1.5px;
  padding: 0.5rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}
